.theme-toggle {
  height: get-size("600");
  width: get-size("600");
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/assets/icon-moon.svg");
}

// Theme icon logic
.darkLight-toggled .theme-toggle {
  background-image: url("/assets/icon-sun.svg");
}
@media (prefers-color-scheme: dark) {
  .darkLight-toggled .theme-toggle {
    background-image: url("/assets/icon-moon.svg");
  }
  .theme-toggle {
    background-image: url("/assets/icon-sun.svg");
  }
}
