.drop-shadow {
  box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
}
main.darkLight-toggled .drop-shadow {
  box-shadow: 0 35px 50px -15px rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  .drop-shadow {
    box-shadow: 0 35px 50px -15px rgba(0, 0, 0, 0.5);
  }
  main.darkLight-toggled .drop-shadow {
    box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
  }
}
