.faint-text * {
  color: get-color("font-light-faint");
}
.darkLight-toggled .faint-text * {
  color: get-color("font-dark-faint");
}

@media (prefers-color-scheme: dark) {
  .faint-text * {
    color: get-color("font-dark-faint");
  }
  .darkLight-toggled .faint-text * {
    color: get-color("font-light-faint");
  }
}

// HOVER STATES

.faint-text button:hover,
label:hover {
  color: get-color("font-light");
}
.darkLight-toggled .faint-text button:hover,
.darkLight-toggled label:hover {
  color: get-color("font-dark");
}

@media (prefers-color-scheme: dark) {
  .faint-text button:hover,
  label:hover {
    color: get-color("font-dark");
  }
  .darkLight-toggled .faint-text button:hover,
  .darkLight-toggled label:hover {
    color: get-color("font-light");
  }
}
