// Config for gorko
@import "config";

// Pull in gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";

// Modern reset
@import "reset";

// Global styles
body {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  color: white;
}

main {
  min-height: 100vh;
  padding: get-size("900") get-size("500");
  transition: 0.25s ease-in-out;
  background-repeat: no-repeat;
  background-size: contain;
}
header {
  margin-bottom: get-size("500");
}
aside {
  text-align: center;
}

// Set colors
main {
  background-color: get-color("bg-light");
  background-image: url("/assets/bg-mobile-light.jpg");
}
main *:not(h1) {
  color: get-color("font-light");
}
main.darkLight-toggled {
  background-color: get-color("bg-dark");
  background-image: url("/assets/bg-mobile-dark.jpg");
}
main.darkLight-toggled *:not(h1) {
  color: get-color("font-dark");
}

@media (prefers-color-scheme: dark) {
  main {
    background-color: get-color("bg-dark");
    background-image: url("/assets/bg-mobile-dark.jpg");
  }
  main *:not(h1) {
    color: get-color("font-dark");
  }
  main.darkLight-toggled {
    background-color: get-color("bg-light");
    background-image: url("/assets/bg-mobile-light.jpg");
  }
  main.darkLight-toggled *:not(h1) {
    color: get-color("font-light");
  }
}

@include media-query("md") {
  main {
    background-image: url("/assets/bg-desktop-light.jpg");
  }
  main.darkLight-toggled {
    background-image: url("/assets/bg-desktop-dark.jpg");
  }
  @media (prefers-color-scheme: dark) {
    main {
      background-image: url("/assets/bg-desktop-dark.jpg");
    }
    main.darkLight-toggled {
      background-image: url("/assets/bg-desktop-light.jpg");
    }
  }
}
@include media-query("md") {
  h1 img {
    height: get-size("600");
  }
  header {
    margin-bottom: get-size("900");
    margin-top: get-size("900");
  }
}

// Utilities
@import "utilities/flow";
@import "utilities/reset-style";
@import "utilities/uppercase";
@import "utilities/drop-shadow";
@import "utilities/space-between";
@import "utilities/wrapper";
@import "utilities/flex-col";
@import "utilities/todo-padding";
@import "utilities/box-flex";
@import "utilities/strikethrough";
@import "utilities/faint-text";
@import "utilities/sr-only";

// Blocks
@import "blocks/theme-toggle";
@import "blocks/todo-box";
@import "blocks/todo";
@import "blocks/todo-checkbox";
@import "blocks/input";
@import "blocks/drop-zone";
@import "blocks/options";

// Exceptions
@import "exceptions/data-device";
